html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var($primary-text-color);

  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@import './utils/colors';
@import './utils/mixins';
@import './utils/placeholders';
@import './components/modal';
@import './components/header';
@import './components/hero';
@import './components/advantages';
@import './components/activities';
@import './components/team';
@import './components/customers';
@import './components/footer';
@import './components/portfolio';
