/* advantages start */
.advantages .container {
  margin-bottom: 60px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 94px;
  }
}

.advantages-list {
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.advantages-list li {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    width: 270px;
  }
}

.advantages-list li + li {
  @media screen and (min-width: 1280px) {
    margin-left: 30px;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: $our-team-background;
  border-radius: 4px;
}

.advantages .item-title {
  text-align: center;
  margin-bottom: 10px;
  color: $title-color;

  @media screen and (min-width: 1280px) {
    text-align: initial;
  }
}
/* advantages end */
